.login-button,
.demo-button {
    background-color: lightblue;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover,
.demo-button:hover {
    background-color: #8bbbcc;
    /* Slightly darker light blue on hover */
}

.loginmodal {
    background-color: lightpink;
    /* color: lightblue; */
}

.loginh1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-password {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-p-tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup-link {
    color: blue;
    cursor: pointer;
}

.signup-link:hover {
    color: darkblue;
}

.login-email input,
.login-password input {
    /* Removes background */
    background: transparent;

    /* Removes default borders */
    border: none;

    /* Adds a thin bottom border */
    border-bottom: 3px solid lightblue;

    /* display: flex; */
    /* justify-content: flex-end; */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centers the text */
}


/* Adjust modal size for large screens */
@media screen and (min-width: 992px) {

    /* Adjusted from 1200px to 992px */
    #modal-content {
        width: 30% !important;
        /* Force apply */
        height: 40% !important;
    }
}

.conf-pass {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
